{% extends "webapp/header.html" %}


{% block content %}
    <p>Treemap of all departments without cells</p>
    <br><br>
    <p id="treemap"></p>

    <script type="text/javascript">

    var dept_arr= {{req_dept_cell_str | safe}};
    var dept_u_arr= {{req_dept_unique_str | safe}};
    var nodes= {{nodes | safe}};
    console.log(nodes);
    //console.log(dept_li);

    function cellObj(name, value, children){
        this.name=name;
        this.value=value;
        this.children=children;
    }
    cellobj_arr=[];
    for(var i=0; i<dept_arr.length; i++){
       dept_name=dept_arr[i].split("-")[0];
       var cells=dept_arr[i].split("-")[1];
       var cells_arr=cells.split(",");
       val=0;
       var cell_obj_arr_child=[];
       for(var j=0; j<cells_arr.length-1; j++){
           for (var k=0; k<nodes.length; k++){
                if(nodes[k][0]==cells_arr[j]){
                    val+=parseFloat(nodes[k][1]);
                    var b=new cellObj(nodes[k][0],nodes[k][1],[]);
                    cell_obj_arr_child.push(b);
                }
           }
       }
       //console.log("add : "+dept_name+","+val);
       var a=new cellObj(dept_name, val, cell_obj_arr_child);
       cellobj_arr.push(a);
    }

    for(var i=0; i<dept_u_arr.length; i++){
        dept_name=dept_u_arr[i];
        var val=0;
        for(var j=0; j<nodes.length ;j++){
            if(nodes[j][0]==dept_name){
               val+=parseFloat(nodes[j][1]);
            }
        }
        var a=new cellObj(dept_name, val, []);
        cellobj_arr.push(a);
    }

    console.log(cellobj_arr);
    var total_value=0;
    for(var i=0; i<cellobj_arr.length; i++){
        total_value+=parseFloat(cellobj_arr[i].value);
    }
    var odata=new cellObj(dept_name, total_value, cellobj_arr);

    d3.selectAll("svg > *").remove();
    var myNode=document.getElementById("treemap");
    while(myNode.firstChild){
        myNode.removeChild(myNode.firstChild);
    }

    var color=d3.scale.category10()

    var canvas=d3.select("#treemap").append("svg")
       .attr("width",1200)
       .attr("height",900);

    var treemap=d3.layout.treemap()
       .size([1150,850])
       .nodes(odata);

    console.log(treemap);

   var cells=canvas.selectAll(".cell")
     .data(treemap)
     .enter()
         .append("g")
         .attr("class","cell");

    cells.append("rect")
     .attr("x",function(d){return d.x})
     .attr("y",function(d){return d.y})
     .attr("width",function(d){return d.dx})
     .attr("height",function(d){return d.dy})
     .attr("fill", function(d) {return d.children ? null : color(d.value)})
     .attr("stroke", "white")
     .attr("stroke-width", 10);

   cells.append("text")
     .attr("x", function(d) { return d.x + d.dx/2 } )
     .attr("y", function(d) { return d.y + d.dy/2 } )
     .text(function(d){ return d.children ? null : d.name});

    </script>

{% endblock %}
