{% extends "webapp/header.html" %}


{% block content %}
    <p id="departments with cells">
        List of all departments with cells:
        <ol>
            {% for i in req_dept_cell_str %}
                <input type="radio" name="dept_name" value="{{ i }}"/>{{ i }}<br>
            {% endfor %}
        </ol>
        <br>
    </p>
    Select the department & generate
    <button onclick="generateGraph()">Generate Treemap</button>
    <br><br>
    List of departments without cells:
    <p id="noCellDeptLi">
        <ol>
            {% for i in req_dept_unique_str %}
                <li>{{ i }}</li>
            {% endfor %}
        </ol>
    </p>
    <p id="graph"></p>

    <script type="text/javascript">

    var dept_li= {{req_dept_cell_str | safe}};
    var nodes= {{nodes | safe}};
    console.log(nodes);

    function cellObj(name, value){
        this.name=name;
        this.value=value;
    }

    function generateGraph(){
        var req_dept = document.querySelector('input[name = "dept_name"]:checked').value;
        //alert("selected dept : " +req_dept.split("-")[0]);

        d3.selectAll("svg > *").remove();
        var myNode=document.getElementById("graph");
        while(myNode.firstChild){
            myNode.removeChild(myNode.firstChild);
        }

        var cellobj_arr=[];
        var cell_arr=req_dept.split("-")[1].split(",");
        for(var i=0; i<cell_arr.length; i++){
            var u=cell_arr[i];
            console.log(u);
            for(var j=0; j<nodes.length; j++){
                var v=nodes[j][0];
                var w=nodes[j][1];
                if(v==u){
                    var a=new cellObj(u, w);
                    cellobj_arr.push(a);
                    break;
                }
            }
        }
        console.log(cellobj_arr);
    }
    </script>

{% endblock %}
